@{
  Layout = "_Layout";
  AuthorBook firstAuthor = ViewBag.firstAuthor as AuthorBook;
}

@model Library.Models.Book

<h2>Book Details</h2>

<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>


<p>@firstAuthor.Author.Name</p>
