@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Book Details</h2>

<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>


@foreach(var author in Model.Authors)
{
<p>@author.Author.Name</p>
}
