@{
  Layout = "_Layout";
  List<Author> Authors = ViewBag.Authors as List <Author>;
}

@model Library.Models.Book

<h2>Book Details</h2>

<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

@foreach( Author author in Authors)
{
  <p>@author.Name</p>
}

