@{
    ViewData["Title"] = "Home Page";
}

<h1>Library</h1>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("View all books", "Index", "Book")</p>
<p>@Html.ActionLink("View all authors", "Index", "Author")</p>

